@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("sakura.gif"), #dc8add;
  background-size: cover;
}
h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 82px;
  text-align: center;
  margin-top: 100px;
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  border-radius: 7px;
  background: #dc8add;
  box-shadow: inset 5px 5px 9px #bf78c0, inset -5px -5px 9px #f99cfa;
  border: 0;
  font-size: 24px;
  padding: 20px;
  outline: 0;
  margin-right: 20px;
}
button {
  border-radius: 7px;
  background: #dc8add;
  box-shadow: 5px 5px 9px #bf78c0, -5px -5px 9px #f99cfa,
    inset 5px 5px 9px #bf78c000, inset -5px -5px 9px #f99cfa00;
  border: 0;
  font-size: 24px;
  padding: 20px 30px;
  font-weight: normal;
  transition: 0.2s;
}
button:hover {
  box-shadow: 5px 5px 9px #bf78c000, -5px -5px 9px #f99cfa00,
    inset 5px 5px 9px #bf78c0ff, inset -5px -5px 9px #f99cfaff;
}
h3 {
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
}
